@import '~bootstrap/scss/bootstrap';

body {
  background-color: #073b85;
  color: #fff312;
}

.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

// "Videos" component
.title-videos {
  display: flex;
  justify-content: center;
}

.video-collection {
  @include make-row;
  display: flex;
  justify-content: center;
}

.video-thumb {
  margin: 5px;
}

// "Video" Component
.individual-video {
  display: flex;
  justify-content: center;
  margin: 10px;
}
